//Generales
$color-general:#CCC;
$color-titles:rgba(49, 49, 49, 0.8);
$container-width: 90%;
$margin-centrar: 0px auto;
$padding-general: 0px;
$margin-general: 0px;


//Lineas
$line-heigth: 2px;
$line-background: black;

//Cuerpo
$cuerpo-width: 93%;

//Img
$img-radius: 5px;
$img-width: 100%;

//header
$header-paddding-laterales: 5%;
$header-paddding-sup-in: 7px;


.container {
    width: $container-width;
    margin: $margin-centrar;
}

h4 {
    color: $color-titles;
}

header {
    background-color: $color-general;
    color: $color-titles;
    padding: $header-paddding-sup-in $header-paddding-laterales;
    text-align: right;
    h3 {
        padding: $padding-general;
        margin: $margin-general;
    }
}

.cuerpo {
    width: $cuerpo-width;
    margin: $margin-centrar;
    .infoPersonal {
        height: 165px;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 15% 85%;
        border: 2px solid $color-general ;
        border-radius: $img-radius;
        margin-top: 25px;
        padding: 10px;
        h4 {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 100%;
            margin: $margin-general;
        }
        div {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 25px;
            p {
                margin: $margin-general;
                width: 100%;
            }
        }
        img {
            grid-column: 2/3;
            grid-row: 1/3;
            width: $img-width;
            border-radius: $img-radius;
            height: 100%;
        }
    }
    div {
        h4 {
            margin-bottom: $margin-general;
        }
        div {
            background-color: $line-background;
            height: $line-heigth;
        }
        ul {
            padding-left: $padding-general;
            li {
                margin-left: 8%;
                h5 {
                    margin-bottom: 10px;
                }
                p {
                    margin: $margin-general;
                }
                ul {
                    margin-top: 10px;
                }
            }
        }
    }
    .informatica {
        ul {
            margin-left: 20px;
        }
    }
}

@media (min-width: 576px) {
    .cuerpo {
        .infoPersonal {
            height: 200px;
            div {
                p {
                    margin-bottom: 8px;
                    width: 100%;
                }
            }
        }
        div {
            ul {
                li {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        p {
                            width: 100%;
                        }
                        li {
                            width: 40%;
                        }
                    }
                }
            }
        }
        .otros {
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                justify-content: space-between;
                li {
                    width: 45%;
                    margin-left: $margin-general;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}

@media (min-width: 992px) {
    .cuerpo {
        font-size: 20px;
        .infoPersonal {
            height: 270px;
            h4 {
                font-size: 30px;
            }
            div {
                p {
                    
                    margin-bottom: 8px;
                    width: 100%;
                }
            }
            img {
                text-align: right;
                width: 90%;
            }
        }
        .otros {
            ul {
                justify-content: space-evenly;
            }
        }
    }
    
}