//Generales
$color-general:#CCC;
$color-titles:rgba(49, 49, 49, 0.8);
$container-width: 90%;
$padding-general: 0px;
$margin-general: 0px;

//BreakPoints
$tablet: 576px;
$ordenador: 992px;


//Lineas
$line-heigth: 2px;
$line-background: black;

//Cuerpo
$cuerpo-width: 93%;

//Img
$img-radius: 5px;
$img-width: 100%;

//header
$header-paddding-laterales: 5%;
$header-paddding-sup-in: 7px;

//Tabla Modulos 1º DAW
$color-list: green, red, rgb(240, 51, 161), rgb(0, 204, 255), yellow, grey;
$num: 1;
$rows: 6;

//Personalización de Títulos
$titles: 6;
$size-leters-list: 35px, 26px, 20px, 18px, 15px, 12px;
$height-titles-list: 40px, 30px, 25px, 20px, 18px, 15px;