<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout 11</title>
    <link rel="stylesheet" href="Layout11JCG.css">
</head>
<body>
    <div class="container">
        <header>C L U B W</header>
        <div>
            <h1>This year, give a gift everyone will love.</h1>
            <p>(Mark it's Wine)</p>
        </div>
        <section class ="info">
            <section>
                <img src="./img/clubw.jpg">
                <p>Club W makes it delightfully easy to give great wine as a corporate gift. Simply provide an address, amount, and write a gift note. Your recipient will receive a beautiful gift presentation by mail Each recipient can customize their Club W Experience with personal recommendations, idividual selections and the ability to choose when and where to have their wine deluvered.</p>
            </section>
            <section>
                <form>
                    <table>
                        <tr><td id="form-title"><h2>Send us your info!</h2 ></td></tr>
                        <tr><td><label for="firstName">First Name:</label></td></tr>
                        <tr><td><input type="text" name="firstName"></td></tr>
                        <tr><td><label for="lastName">Last Name:</label></td></tr>
                        <tr><td><input type="text" name="lastName"></td></tr>
                        <tr><td><label for="company">Company:</label></td></tr>
                        <tr><td><input type="text" name="company"></td></tr>
                        <tr><td><label for="email">Email:</label></td></tr>
                        <tr><td><input type="email" name="email"></td></tr>
                        <tr><td><label for="phoneNumber">Phone Number:</label></td></tr>
                        <tr><td><input type="tel" name="" id=""></td></tr>
                        <tr><td><label for="amount">Amount</label></td></tr>
                        <tr><td><select name="amount">
                            <option value="0">Select Amount</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></td></tr>
                        <tr><td><label for="addtions">Addtions Information</label></td></tr>
                        <tr><td><input type="text" name="addtions"></td></tr>
                        <tr><td><button>Submit</button></td></tr>
                    </table>
                </form>
            </section>    
        </section>
        <section class="opinions">
            <div>
                <img src="./img/foto-de-perfil1.jpg">
                <p>Club W is the ultimate asdf-asdf-asdf-asd solution to giving corporate gifts and people asdfadsfs love it.</p>
                <ul>
                    <li>Leoao Fasd</li>
                    <li>Eassdnmas Aasdmmd</li>
                    <li>AutoPath</li>
                </ul>
            </div>
            <div id = "centro">
                <img src="./img/foto-de-perfil2.jpg" alt="">
                <p>Club W masd holiday gift giving as easy and their customer service and asdfasdf asd asdfa as asdf to asdfd</p>
                <ul>
                    <li>Randy Nishons</li>
                    <li>Foundar President</li>
                    <li>Nichons Partmadfd</li>
                </ul>
            </div>
            <div>
                <img src="./img/foto-de-perfil3.jpg" alt="">
                <p>Month later people and asdsd asdfasdfasdf asdfasdfasdfasf and asfsaf me the asdfasdf Club W gift</p>
                <ul>
                    <li>Candy Wich</li>
                    <li>Sdsfaa Adaasd</li>
                    <li>Daiasisa ADSfadf Vdsfadf</li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>