<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="layout6.css">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="top">
            <header>
                <h1>Grafpedia</h1>
                <label class="busqueda">
                    <input type="search" name="nombre" placeholder="Buscar">
                </label>
            </header>
            <nav class="menu">
                    <input type="checkbox" id="check">
                    <label for="check"><img src="./img/menu.png"></label>
                <nav class="lista-menu">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </nav>
        </div>
        <div class="body">
            <div>
                <h1>500+Vector Files</h1>
                <h4>Get a VIP account and download them all</h4>
                <img src="./img/1.png">
                <img src="./img/2.jpg">
                <img src="./img/3.jpg">
                <img src="./img/4.jpg">
            </div>
            <nav>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit asdfasdfasdf asdfasdf asdf asdf asdf asdf :</p>
                <button>Apply for a VIP account</button>
            </nav>
            <div>
                <div>
                    <img src="./img/cohete.png">
                    <h3>Services</h3>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti a dolorem accusamus nemo, placeat quos reiciendis eaque fugit!</p>
                    <ul>
                        <li>Web Design >></li>
                        <li>Print Design >></li>
                        <li>Logs Design >></li>
                        <li>Icon Design >></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="./img/cesta.png">
                    <h3>Products</h3>
                </div>
                <div>
                    <img src="./img/1.png">
                    <img src="./img/2.jpg">
                    <img src="./img/3.jpg">
                    <img src="./img/4.jpg">
                    <img src="./img/1.png">
                    <img src="./img/2.jpg">
                </div>
            </div>
            <div>
                <div>
                    <img src="./img/sobre.png">
                    <h3>About us</h3>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil atque fugiat nulla reprehenderit, quisquam dolor quos provident ipsum libero. Sint ullam necessitatibus quis voluptas est facilis cupiditate ut blanditiis optio.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, nemo. Amet quisquam dolores, possimus porro aspernatur blanditiis natus odit earum quos officia fugiat quae quod accusamus deserunt magnam? Molestiae, ea.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="./img/blog.png">
                    <h3>Blog</h3>
                </div>
                <div>
                    <div>
                        <img src="./img/1.png">
                        <h3>Create  a light effect in Photoshop</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, soluta deleniti maiores vel, quia corporis consequatur, nulla fugiat libero dicta distinctio aut sint natus incidunt. Vero nemo nobis aspernatur sapiente.</p>
                    </div>
                    <div>
                        <img src="./img/1.png">
                        <h3>Desing a Clean Business Layout</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, soluta deleniti maiores vel, quia corporis consequatur, nulla fugiat libero dicta distinctio aut sint natus incidunt. Vero nemo nobis aspernatur sapiente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>