table{
    border: 1px solid black;
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;
}
thead th h2{
    color: rgb(0, 85, 141);
    background-color: rgb(168, 167, 167);
    margin: 0px;
}
tbody td.info{
    padding-left: 50px;
    padding-bottom: 20px;
}
tbody td.info2{
    padding-left: 50px; 
}
tbody td.titulo{
    padding-top: 25px;
    color: rgb(95, 18, 18);
    font-family:serif;
    font-size: 18px;
    padding-bottom: 0;
    padding-left: 0px;
}
tbody th{
    width: 20%;
    padding-left: 3px;
}
tbody p{
    margin-top: 0px;
    margin-bottom: 0px;
}
